@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 22px;
}

.container {
  width: 1905px;
  height: 900px;
  margin: 0 auto;
  background-color: black;
}

header {
  margin-left: 40px;
}
header img {
  width: 100px;
}
